@import "normalize.css";

:root {
  --color-primary: hsl(245, 75%, 52%);
  --color-secondary: hsl(225, 100%, 94%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
}
