@import "normalize.css";

:root {
  --color-primary: #3829e0;
  --color-primary-on-hover: #594afb;
  --color-headings: #1f2f56;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Animation */
@keyframes card-flip {
  0% {
    transform: rotate(0) scale(0);
  }

  100% {
    transform: rotateY(720deg) scale(1);
  }
}

@-webkit-keyframes card-flip {
  0% {
    transform: rotate(0) scale(0);
  }

  100% {
    transform: rotateY(720deg) scale(1);
  }
}

/* Typography */
html {
  font-size: 80%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #7280a7;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1rem;
}

@media screen and (min-width: 425px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 4vw;
  }
}

/* Button */
.btn {
  width: 100%;
  padding: 1.2rem 0;
  font-weight: 700;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 10px 8px 0 #e2defc;
  transition: background-color 0.3s;
}

.btn--primary:hover {
  background-color: var(--color-primary-on-hover);
}

.btn--transparent {
  background-color: transparent;
  color: #818699;
  transition: color 0.3s;
}

.btn--transparent:hover {
  color: var(--color-headings);
}

/* Link */
.link {
  text-decoration: none;
}

.link::after {
  content: "";
  display: block;
  height: 1px;
  position: relative;
  bottom: 4px;
  transition: transform 0.2s;
}

.link:hover::after {
  transform: scaleX(0);
}

.link--primary {
  color: var(--color-primary);
  transition: color 0.3s;
}

.link--primary::after {
  background-color: var(--color-primary);
}

.link--primary:hover {
  color: var(--color-primary-on-hover);
}

/* Icon */
.icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 425px) {
  .icon {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 320px) {
  .icon {
    width: 12vw;
    height: 12vw;
  }
}

/* Plan */
.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7ff;
  padding: 1.2rem;
  border-radius: 12px;
}

.plan__header {
  flex-grow: 1;
}

.plan__heading {
  color: var(--color-headings);
  margin: 0;
}

.plan__icon {
  margin-right: 1.2rem;
}

/* Summary */
.summary {
  padding: 2rem 2rem 1rem;
  background-color: #fff;
}

.summary__header {
  text-align: center;
}

.summary__heading {
  color: var(--color-headings);
  margin: 0 0 1.2rem;
}

.summary__text {
  margin: 0 0 1.5rem;
}

.summary .btn--primary {
  margin: 2rem 0 1rem;
}

@media screen and (min-width: 425px) {
  .summary {
    padding: 2rem 3rem;
  }
}

/* Hero */
.hero {
  margin-bottom: -10px; /* fixes the issue with svg */
}

.hero__image {
  width: 100%;
  height: auto;
}

/* Card */
.card {
  border-radius: 20px;
  overflow: hidden;
  max-width: 425px;
  margin: 0 auto;
  box-shadow: 0 0 12px 0 #dee6fd;
  animation: card-flip 1s ease-out;
  -webkit-animation: card-flip 1s ease-out;
}

/* Container */
.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: #e0e8fd;
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  perspective: 40rem;
}

@media screen and (min-width: 1024px) {
  .container {
    background-image: url(/images/pattern-background-desktop.svg);
  }
}
