@import "normalize.css";

:root {
  --color-primary: #3829e0;
  --color-primary-on-hover: #766cf1;
  --color-headings: #1f2f56;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #7280a7;
}

h2 {
  font-size: 1.4rem;
}

@media screen and (min-width: 425px) {
  body,
  h2 {
    font-size: 1.6rem;
  }
}

/* Button */
.btn {
  width: 100%;
  padding: 1.5rem 0;
  font-weight: 700;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 10px 8px 0 #e2defc;
  transition: background-color 0.3s;
}

.btn--primary:hover {
  background-color: var(--color-primary-on-hover);
}

.btn--transparent {
  background-color: transparent;
  color: #818699;
  transition: color 0.3s;
}

.btn--transparent:hover {
  color: var(--color-headings);
}

/* Link */
.link:hover {
  text-decoration: none;
}

.link--primary {
  color: var(--color-primary);
  transition: color 0.3s;
}

.link--primary:hover {
  color: var(--color-primary-on-hover);
}

/* Icon */
.icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 425px) {
  .icon {
    width: 48px;
    height: 48px;
  }
}

/* Plan */
.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7ff;
  padding: 1.5rem;
  border-radius: 12px;
}

.plan__header {
  flex-grow: 1;
}

.plan__heading {
  color: var(--color-headings);
  margin: 0;
}

.plan__icon {
  margin-right: 1.5rem;
}

@media screen and (min-width: 425px) {
  .plan {
    padding: 2rem;
  }

  .plan__icon {
    margin-right: 2rem;
  }
}
