<section class="summary">
  <header class="summary__header">
    <h1 class="summary__heading">Order Summary</h1>
    <p class="summary__text">
      You can now listen to millions of songs, audiobooks and podcasts on any device anywhere you
      like!
    </p>
  </header>
  <div>
    <div class="plan">
      <img class="icon plan__icon" src="/images/icon-music.svg" alt="" />
      <header class="plan__header">
        <h2 class="plan__heading">Annual Plan</h2>
        <span>$59.99/year</span>
      </header>
      <div>
        <a href="#" class="link link--primary">Change</a>
      </div>
    </div>
    <button type="button" class="btn btn--primary">Proceed to Payment</button>
    <button type="button" class="btn btn--transparent">Cancel Order</button>
  </div>
</section>
